@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url("../../2/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("../../2/Poppins/Poppins-Regular.ttf");
}

body {
  font-family: PopLight;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/BG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.1;
}

.navbar {
  height: 120px;
  padding: 8px 50px;
  background-color: rgba(152, 191, 157, 0.25) !important;
  border-bottom: 3px solid white;
}

.navbar .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo-container h4 {
  font-size: 28px;
  color: white;
  font-family: 'Poppins';
  font-weight: 500;
}

.navbar .logo-container img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  width: 100%;
  border-radius: 50%;
}

.navbar .navbar-brand {
  height: 50px;
  width: 50px;
  padding-bottom: 55px;
  margin-right: 50px;
}

.qq > div {
  -webkit-filter: drop-shadow(0px 0px 3px black);
          filter: drop-shadow(0px 0px 3px black);
}

.btn {
  margin-right: 10px !important;
}

.online {
  margin-right: 30px !important;
}

.request-leave {
  margin-right: 32px !important;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.td input:focus {
  outline-width: 0;
}

input, .botton {
  color: #fff;
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cover {
  width: 750px;
  padding: 35px;
  background-color: #0583F2;
  border-radius: 100px;
  -webkit-box-shadow: 0 10px 40px  #0583F2, 0 0 0 20px #ffffffeb;
          box-shadow: 0 10px 40px  #0583F2, 0 0 0 20px #ffffffeb;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::-webkit-input-placeholder {
  color: white;
}

input[type="text"]:-ms-input-placeholder {
  color: white;
}

input[type="text"]::-ms-input-placeholder {
  color: white;
}

input[type="text"]::placeholder {
  color: white;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

.botton {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 70px;
  height: 70px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.botton span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  -webkit-transform: rotateZ(52deg);
          transform: rotateZ(52deg);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.botton span:before, .botton span:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

#s-cover:hover .botton span:before {
  bottom: 11px;
  -webkit-transform: rotateZ(52deg);
          transform: rotateZ(52deg);
}

#s-cover:hover .botton span:after {
  bottom: -11px;
  -webkit-transform: rotateZ(-52deg);
          transform: rotateZ(-52deg);
}

#s-cover:hover .botton span:before, #s-cover:hover .botton span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-top {
  margin-top: -2%;
}

.img-con {
  margin-left: 50px;
  margin-top: 50px;
  height: 30px;
  width: 30px;
}

.cards-top, .cards-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards-top .card-left, .cards-top .card-mid-left, .cards-top .card-mid-right, .cards-top .card-right, .cards-bot .card-left, .cards-bot .card-mid-left, .cards-bot .card-mid-right, .cards-bot .card-right {
  padding: 10px;
  margin: 25px 15px 0px 15px;
  width: 375px;
  height: 270px;
  overflow: hidden;
  opacity: 1;
  background-color: white;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cards-top img, .cards-bot img {
  -webkit-transform: scale(4);
          transform: scale(4);
  width: 100%;
  border-radius: 50%;
}

.cards-top .status, .cards-bot .status {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #A60311;
  border-radius: 50%;
  border: none;
  display: inline-block;
}

.cards-top .card-mid-left .status, .cards-bot .card-mid-left .status {
  background-color: green;
}

.cards-top .card-mid-right .status, .cards-bot .card-mid-right .status {
  background-color: gray;
}

.cards-top .call-message, .cards-bot .call-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards-top .call-box, .cards-bot .call-box {
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 15px;
  width: 127px;
  height: 40px;
  border: solid 1px #707070;
  color: #0583F2;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.cards-top .message-box, .cards-bot .message-box {
  margin-top: 10px;
  width: 127px;
  height: 40px;
  color: white;
  background-color: #0583F2;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.cards-top .text-top, .cards-top .text-mid, .cards-top .text-bot, .cards-bot .text-top, .cards-bot .text-mid, .cards-bot .text-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: 140px;
  font-family: PopLight;
}

.cards-top .text-top, .cards-bot .text-top {
  margin-top: -50px;
}

.cards-top .left-top, .cards-top .left-mid, .cards-top .left-bot, .cards-bot .left-top, .cards-bot .left-mid, .cards-bot .left-bot {
  color: #0583F2;
  font-size: 15px;
  font-weight: 500;
}

.cards-top .info-top, .cards-top .info-mid, .cards-top .info-bot, .cards-bot .info-top, .cards-bot .info-mid, .cards-bot .info-bot {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

@media (max-width: 576px) {
  .navbar {
    padding: 4px 25px;
  }
  .navbar .logo-container img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .navbar .logo-container h4 {
    font-size: 20px;
  }
  .navbar .logo-container .navbar-brand {
    margin-right: 15px;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */