<nb-layout>
  <nb-layout-header fixed>
    <!-- Insert header here -->
    <div class="row header_row">
      <div class="col-3"></div>
      <div class="col-8">
        <button
          nbButton
          [disabled]="!authData?.isTeacher"
          (click)="choosepdf.click()"
        >
          Choose a file
        </button>
        <input
          hidden
          type="file"
          #choosepdf
          accept="application/pdf, image/*"
          (change)="onSelectFile($event)"
        />
        <button nbButton (click)="canvasToBlob()">Export image</button>
      </div>
      <div class="col-1">
        <input type="color" (change)="colorChange($event)" />
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <div class="video-container">
      <img src="/assets/icons/noimage_person.png" />
      <div class="video_controls">
        <div class="row">
          <div class="col-6" (click)="controls('mic')">
            <!-- Active -->
            <nb-icon icon="mic"></nb-icon>
            <!-- Inactive -->
            <!-- <nb-icon icon="mic-off"></nb-icon> -->
          </div>
          <div class="col-6" (click)="controls('video')">
            <!-- Active -->
            <nb-icon icon="video"></nb-icon>
            <!-- Inactive -->
            <!-- <nb-icon icon="video-off"></nb-icon> -->
          </div>
        </div>
      </div>
    </div>
    <div class="chat_container">
      <div class="chat_header">
        <h6>Chat</h6>
      </div>
      <div class="chat_window">
        <ul class="messages">
          <div
            #messageContainer
            *ngFor="let message of messages$ | async; let i = index"
            class="message-container"
            [ngClass]="
              message.isSender
                ? 'message-container_sender'
                : 'message-container_reciever'
            "
          >
            <li
              class="message"
              [ngClass]="
                message.isSender ? 'message_sender' : 'message_reciever'
              "
            >
              <b *ngIf="!message.isSender">{{ message.username }}</b>
              <br *ngIf="!message.isSender" />
              {{ message.message }}
            </li>
          </div>
        </ul>
      </div>
      <div class="chat_message_container">
        <input
          nbInput
          fullWidth
          id="chat_message"
          type="text"
          (keydown.enter)="sendMessage($event)"
          placeholder="Type message here..."
          required
        />
      </div>
    </div>
  </nb-sidebar>

  <nb-layout-column>
    <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
      <nb-card-body>
        <div class="whiteboard">
          <canvas
            #whiteboard
            (mousedown)="onMouseDown($event)"
            (mouseup)="onMouseUp($event)"
            (mousemove)="onMouseMove($event)"
            (mouseout)="onMouseUp($event)"
          ></canvas>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
    <div class="container" *ngIf="pdfFile">
      <button
        nbButton
        [disabled]="isLoading || !authData?.isTeacher"
        (click)="nextPage()"
      >
        Next page
      </button>
      <p>{{ pdfPageNumber }}/{{ pdfFile?.numPages }}</p>
      <button
        nbButton
        [disabled]="isLoading || !authData?.isTeacher"
        (click)="previousPage()"
      >
        Previous page
      </button>
    </div>
  </nb-layout-footer>
</nb-layout>
