::ng-deep {
  nb-layout-footer nav {
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    justify-content: flex-end !important;

    // .socials {
    //   font-size: 2rem;

    //   a {
    //     padding: 0.4rem;
    //     color: gray;
    //     transition: color ease-out 0.1s;

    //     &:hover {
    //       color: blue;
    //     }
    //   }
    // }
  }

  // Custom backdrop
  .nb-theme-default .overlay-backdrop {
    background: rgb(0 0 0 / 80%);
    backdrop-filter: blur(5px);
  }
}

.flex_end {
  justify-content: flex-end;
  display: flex;
}
