*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*---Model---*/
.model-left, .model-right{
    width: 40%;
    height: 80%;
    filter: drop-shadow(0px 0px 7px black);
}
/*---Burger Menu---*/
.burger div{
    background-color:white;
    margin: 5px;
    margin-left: 25px;
    cursor: pointer;
}
.line1{
    width: 35px;
    height: 3px;
}
.line2{
    width: 25px;
    height: 3px;
}
.line3{
    width: 15px;
    height: 3px;
}
/*---Fonts---*/
@font-face{
    font-family: PopLight;
    src: url("./Poppins/Poppins-Light.ttf")
}
@font-face{
    font-family: PopRegular;
    src: url("./Poppins/Poppins-Regular.ttf")
}
/*---Bodyy waow---*/
body{
    font-family: PopLight;
}
.portofolio{
    color: white;
    background: radial-gradient(rgba(43,55,96,1),rgba(11,16,35,1));
}
nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    width: 90%;
    margin: auto;
    align-content: center;
}
.logo{
    font-size: 20px;
}
.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}
.hero{
    overflow: hidden;
    align-self: center;
    justify-self: center;
    display: flex;
    margin-left: 30px;
}
.hero img{
    transition: transform 0.3s ease-out;
    cursor: pointer;
}
.model-right{
    transform: translate(0%,10%);
}
.model-left{
    transform: translate(0%,-10%);
}
.hero:hover .model-right{
    transform: translate(0%,0%);
    filter: drop-shadow(0px 0px 0px black);
}
.hero:hover .model-left{
    transform: translate(0%,0%);
    filter: drop-shadow(0px 0px 0px black);
}
.details{
    grid-column: 2/3;
    align-self: end;
}
.details h1{
    font-size: 65px;
    font-family: PopRegular;
}
.details h2{
    font-size: 42px;
    padding: 20px 0px;
}
.details p{
    font-size: 24px;
    padding: 20px 0px 50px 0px;
}
.pages{
    right: 5%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.pages > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pages h3{
    font-size: 24px;
    padding: 30px;
}
.pages svg{
    cursor: pointer;
    transform:scale(2);
    opacity: 0.5;
}
.pages svg:hover{
    animation: dot 0.5s ease-in-out infinite alternate;
}
.pages svg.active{
    opacity: 1;
}
@keyframes dot{
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(4);
    }
}
/*---photo.html---*/
.banner{
    height: 50vh;
    width: 100%;
    position: relative;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -20% 70%;
}
.dd{
    color: black;
    background: linear-gradient(rgba(240,234,241,1),rgba(255,255,255,1))
}
.author{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-align: center;
}
.author h1{
    font-size: 42px;
}
.author h3{
    font-size: 24px;
}
.story,.my-work{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 90px;
}
.profile{
    height: 50vh;
    margin: auto;
    margin-left: 350px;
    width: 25%;
}
.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 5px 5px black);
}
.story-description, .work-description{
    width: 50%;
}
.story-description h3 ,.work-description h3{
    font-size: 36px;
    padding-bottom: 30px;
}
.story-description p , .work-description p {
    font-size: 20px;
    padding: 20px 0px;
}
.work-gallery{
    display: grid;
    grid-template-columns: 150px 150px 300px;
    height: 50vh;
    width: 25%;
    margin-right: 240px;
}
.gallery1,.gallery2,.gallery3,.gallery4,.gallery5,.gallery6{
    width: 100%;
    height: 100%;
    border: solid 1px white;
    filter: drop-shadow(0px 0px 3px black);
}
/* -- Responsive -- */
@media(max-width:1024px){
    body,html{
        width: 100% !important;
        min-width: 0 !important;
        max-width: none !important;
        overflow-x: hidden;
    }
    .page{
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }
    .hero{
        grid-column: 2/3;
        height: auto;
    }
    .details{
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
    }
    .details h1{
        font-size: 46px;
        padding-top: 10px;
    }
    .details h2{
        font-size: 25px;
        padding-top: 5px;
    }
    .details p {
        font-size: 10px;
        padding-top: 10px;
    }
    .pages{
        position:absolute;
        top: 42%;
    }
    .pages > div{
        display: flex;   
        margin: 10px;
        padding-top: 25px;
        align-items: center;
        justify-content: flex-end;
    }
    .pages h3{
        padding: 15px;
        font-size: 21px;
    }
    @keyframes dot{
        0%{
            transform: scale(2);
        }
        100%{
            transform: scale(2.5);
        }
    }
    .story,.my-work{
        flex-direction: column;
    }
    .story-description, .work-description{
        width: 100%;
    }
    .banner{
        height: auto;
    }
    .banner img{
        object-position: auto auto;
    }
    .author h1{
        font-size: 33px;
    }
    .author h3{
        font-size: 18px;
    }
    .story,.my-work{
        padding: 50px;
        padding-left: 25px;
    }
    .story-description h3, .work-description h3{
        font-size: 25px; 
    }
    .story-description p  , .work-description p {
        font-size: 15px
    }
    .profile{
        margin-left: 25px;
        width: 75%;
    }
    .work-description{
        margin-top: -75px;
    }
    .work-gallery{
        grid-template-columns: repeat(auto-fit, minmax(125px,1fr));
        width: 100%;
    }
}